<section class="carousel-container">
    <section class="content-wrapper">
      <div class="content-container" #contentContainer>
        <ng-content></ng-content>
      </div>
    </section>
    <div *ngIf="buttonsAppear">
      <button (click)="navigation(true)" class="leftNav">
        <i class="fa-solid fa-caret-left"></i>
      </button>
      <button (click)="navigation(false)" class="rightNav">
        <i class="fa-solid fa-caret-right"></i>
      </button>
    </div>
  </section>
  
