.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    .content-wrapper {
      overflow-x: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .content-container {
        display: flex;
        width: 100%;
        overflow: scroll;
      }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .leftNav,
    .rightNav {
      position: absolute;
      top: 0;
      height: 100%;
      width: 50px;
      background-color: #00000034;
      border: none;
      cursor: pointer;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
  
      &.leftNav {
        left: 0;
      }
  
      &.rightNav {
        right: 0;
      }
    }
  }
  