<section class="carrusel">
  <app-carrusel-dinamico>
    <ng-container>
      <div *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]; let i = index">
        <div class="element">
          {{i}}
        </div>
      </div>
    </ng-container>
  </app-carrusel-dinamico>
</section>